

<div id="wrapper">
    <h1>Reddit - Florida Man News</h1>
    {{#each dbArticle}}
    <div id="articles">{{title}}</div>
    <div>{{link}}</div>
    {{/each}}
    <div id="notes"></div>

</div>

    <script src="/assets/js/app.js"></script>
    <script src="/server.js"></script>

