    {{#each saved}}
    <div>--------------------------------------------------------------------------------------------------------------------</div>
    <div id="articles"><p data-id="{{_id}}">{{title}}</p></div>
    <a href="{{link}}" target="_blank">{{link}}</a>
    {{/each}}